.mainAddButton{ 
    padding: 10px;
    margin: 20px;
    width: 150px;
    border-radius: 5%;
    background-color: #ffa91e;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;

}

.container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #6f614a72;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.wrapper{
    width: 500px;
    background-color: aliceblue;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.close{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: rgb(16, 16, 16);
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: flex;
}

.item{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.label{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.input{
    border: none ;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid #d3d3d3;
    outline: none;
    font-size: 15px;
}

.priceContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputSmall{
    width: 25%;
}

.extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extraItems{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.extraText{
    padding: 5px;
    font-size: 14px;
    border: 1px solid #f18d0b;
    background-color: white;
    color: #f0ad0f; 
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.addBtn{
    padding: 5px 0;
    align-self: flex-end;
    cursor: pointer;
    width: 25%;
    border-radius: 5%; 
    background-color: #ffa91e;
    color: white;
    font-weight: 500;
    text-align: center;
    border: none;
}