.container{
    display: flex;
    padding: 50px;

}

.item{
    flex:1;
}

.table{
    width: 100%;
    border-spacing: 20px;
    text-align: left;
}

.btn{
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn:last-child{
    background-color: #f44336;
    margin-right: 10px; 
}