.container{
    padding: 50px;
    display: flex;
    cursor: pointer;
         
}

.left{
    flex:2;
}

.right{
    flex: 1;
}

.imgContainer{
    width: 100px;
    height: 100px;
    position: relative;
}

.imag{
    border-radius: 50%;
}

.table{
    width: 100%;
    border-spacing: 20px;
    text-align: center;
}

.name{
    font-size: 24px;
    font-weight: bold;
    color: rgb(221, 101, 16);  
}

.total{
    font-size: 20px;
    font-weight: 500;
    color: rgb(27, 17, 10);  
}

.wrapper{
    width: 90%;
    max-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 50px;
    padding-top: 10px;
    flex-direction: column;
}

.totalTextTitle{
    margin-right: 10px;
}

.btn{
    height: 30px;
    color: rgb(245, 153, 17);
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    background-color: white;
    border: 1px solid rgb(245, 153, 17);
    border-radius: 5px;
}

.trTitle{
    font-size: 28px;
}

.paymentMethods{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.payBtn{
    background-color: rgb(231, 160, 54);
    color: rgb(60, 121, 6);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 5px;
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .container{
        flex-direction: column;
        padding: 20px;
    }
    
    .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .trTitle{
        display: none;
    }
    .tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .imgContainer{
        width: 36vw;
        height: 36vw;
    }
    .name, .total{
        font-size: 20px;
    }

    .price::before{
        content: "Price: ";
        font-size: 18px;
        font-weight: bold;
    }
    .quantity::before{
        content: "Quantity: ";
        font-size: 18px;
        font-weight: bold;
    }
    .total::before{
        content: "Total: ";
        font-size: 18px;
        font-weight: bold;
    }

   .wrapper{
        width: 100%;
    }
    .extras, .price , .quantity{
        font-size: 18px;
    }
}