.container{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.input{
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #7e7e7e;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.error{
    color: red;
    font-size: 14px;
    margin: 5px 0px;
}