.container{
    background-color: rgb(251, 250, 250);
    height: 100px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.item{
    flex: 1;
    display: flex;
    align-items: center;
}

.item:nth-child(2){
    flex: 3;
}

.item:last-child{
    justify-content: flex-end;
}

.callButton{
    background-color: rgb(22, 12, 2);
    padding: 10px;
    border-radius: 50%; 
    width: 50px;
    height: 50px;
}

.texts{
    margin-left: 20px;
    color: rgb(1, 9, 16);
}

.text:first-child{
    font-size: 20px;
    font-weight: 700;
}

.text:last-child{
    font-size: 23px;
    font-weight: bold;
}

.list{
    padding: 0 0 0 70px;
    display: flex;
    align-items: center;
    list-style: none;
    color: rgb(31, 4, 4) ;
}

.listItem{
    margin: 20px;
    font-weight: 600 ;
    font-size: 23px;
}

.cart{
    position: relative;
}

.counter{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: rgb(10, 1, 1);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(249, 248, 246);
}

@media screen and (max-width: 500px){
    .item:nth-child(1){
        flex: 3;
    }

    .item:nth-child(2){
        display: none;
    }
}
    
