.container{
    padding: 50px;
    display: flex;
    cursor: pointer;
         
}

.left{
    flex:2;
}

.right{
    flex: 1;
}

.table{
    width: 100%;
    border-spacing: 20px;
    text-align: center;
}

.name{
    font-size: 24px;
    font-weight: bold;
    color: rgb(55, 25, 3);  
}

.total{
    font-size: 20px;
    font-weight: 500;
    color: rgb(27, 17, 10);  
}

.wrapper{
    width: 90%;
    max-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 50px;
    padding-top: 10px;
    flex-direction: column;
}

.totalTextTitle{
    margin-right: 10px;
}

.btn{
    height: 30px;
    color: rgb(245, 82, 17);
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    background-color: white;
    border: 1px solid rgb(245, 153, 17);
    border-radius: 5px;
}

.trTitle{
    font-size: 28px;
}

.row:last-child{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.done{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inProgress{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}

.undone .checkedIcon, .inProgress .checkedIcon{
    display: none;
}

.undone{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;
}

@media screen and (max-width:500px){
    .container{
        flex-direction: column;
        padding: 20px;
    }
    
    .trTitle{
        display: none;
    }
    .tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .wrapper{
        width: 100%;
    }
    .id::before{
        content: "Order ID: ";
        font-weight: bold;
    }
    .name::before{
        content: "Customer: ";
        font-weight: bold;
    }
    .address::before{
        content: "Address: ";
        font-weight: bold;
    }
    .total::before{
        content: "Total: ";
        font-weight: bold;
    }
    .name{
        font-size: 20px;
    }

    .row:last-child{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .done , .inProgress, .undone{
        margin-bottom: 20px;
    }
    .inProgress{
        animation: inProgress 1s ease infinite alternate;
    }
    
    @keyframes inProgress{
        0%{
            transform: translateX(0px);
        }
        100%{
            transform: translateX(10px);
        }
    }
}