.container{
    width: 22%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;      
}

.imag{
    border-radius: 50%;
}

.title{
    font-size: 24px;
    font-weight: bold;
    color: rgb(221, 101, 16);
    text-align: center; 
}

.price{
    font-size: 20px;
    font-weight: bold;
    color: rgb(221, 91, 16);
    text-align: center; 
}

.desc{
    font-size: 20px;
    color: rgb(41, 43, 41);
    text-align: center; 
}

@media screen and (max-width: 500px){
    .container{
        width: 100%;
    }

    .title{
        font-size: 20px;
        text-align: center;
    }

    .price , .desc{
        font-size: 18px;
        text-align: center;
    }
}
