.container{
    height: calc(100vh - 100px);
    display: flex;

}

.imag{
    border-radius: 60%;
}

.left{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.right{
    flex: 1;
    padding: 20px;
}

.imgContainer{
    width: 70%;
    height: 70%;
    position: relative;
}

.price{
    color: rgb(245, 108, 2);
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid rgb(255, 149, 0);

}

.sizes{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.size{
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.size:nth-child(2){
    width: 60px;
    height: 60px;
}

.size:nth-last-child(1){
    width: 70px;
    height: 70px;
}

.sizeName{
    position: absolute;
    top: -5px;
    right: -20px;
    color: white;
    background-color: rgb(239, 185, 4);
    font-size: 15px;
    padding: 0 5px;
    border-radius: 8px;
}

.ingredients{
    display: flex;
    margin-bottom: 30px;
}

.option{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    margin-right: 10px;
}

.checkbox{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.quantity{
    width: 50px;
    height: 30px;
}

.btn{
    height: 30px;
    margin-left: 12px;
    background-color: rgb(239, 185, 4);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 500px){

    .container{
        text-align: center;
        height: auto;
        flex-direction: column;
        margin-top: 20px;
    }
     
    .imgContainer{
        width: 70vw;
        height: 70vw;
    }

    .title{
        margin: 5px
    }

    .sizes{
        width: 100%;
        padding: 0px 20px;
    }

    .ingredients{
        flex-direction: column;
    }

    .option{
        margin: 5px 0px;
        font-size: 16px;
    }

    .checkbox{
        width: 25px;
        height: 25px;
    }

    .quantity ,.btn{
        height: 50px;
        padding: 10px 20px;
    }


}
    
